* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-image: url("../img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: auto;
}

img {
  width: 100px;
  padding: 10px;
}

h2 {
  margin: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
}

.power {
  display: inline-block;
  border-radius: 10px;
}

.game-container {
  position: relative;
  top: 25%;
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 15px 0;
}

.power {
  margin: 20px 30px;
  padding: 10px;
  cursor: pointer;
}

.power:hover {
  opacity: 0.7;
  transition: 0.5s;
}

#rock {
  background-color: #7260fc;
}

#paper {
  background-color: #fcfa79;
}

#scissor {
  background-color: #ff667a;
}
